<div class="preview__section">
    <div class="preview__container">
        <div class="preview__content">
            <div class="preview__text">
                <p class="title1">{{'home.projects.title1' | translate }}</p>
                <p class="body">{{'home.projects.body' | translate}}</p>
            </div>
            <app-button [routerLink]="routes.projects" variant="solid" color="primary">
                {{'home.projects.button' | translate}}
            </app-button>
        </div>
    </div>
</div>