<footer class="footer">
    <div class="container">
        <div class="footer_brand">
            <!-- Logo -->
            <div class="footer_logo">
                MyLogo
            </div>
            <!-- Social Media Links -->
            <div class="footer_socials">
                <a [href]="links.linkedin.url" target="_blank" rel="noopener noreferrer">
                    <img [src]="'icons/' + links.linkedin.icon + '.svg'" [alt]="links.linkedin.name"
                        class="social_icon">
                </a>
                <a [href]="links.github.url" target="_blank" rel="noopener noreferrer">
                    <img [src]="'icons/' + links.github.icon + '.svg'" [alt]="links.github.name">
                </a>
            </div>
        </div>
        <div class="footer_main">
            <!-- Contact us -->
            <div class="footer_contact">
                <a routerLink="/contact">{{'footer.contact' | translate}}</a>
            </div>
            <!-- Legal notice -->
            <div class="footer_legal">
                <a routerLink="/legal">{{'footer.legal' | translate}}</a>
            </div>
        </div>
        <!-- Copyright -->
        <div class="footer_copyright">
            <p>{{'footer.copyright' | translate}}</p>
        </div>
    </div>

</footer>