/* ========================================
   Header
   ======================================== */

.header {
  width: 100%;
  height: var(--header-height);
  background: var(--color-primary);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 16px;
}

/* ========================================
   Logo
   ======================================== */

.logo {
  font-size: 18px;
  font-weight: 700;
}


/* ========================================
   Mobile menu button
   ======================================== */

.menu_btn {
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background: none;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_icon {
  width: 24px;
  height: 24px;
  display: block;
}

/* ========================================
   Controls
   ======================================== */

/* Hidden on mobile */
.header_controls {
  display: none;
}

.header nav a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 400;
  font-size: var(--font-size-lg);
  cursor: pointer;
  padding: 8px;
}

.header nav a.active_link {
  color: var(--color-primary);
  background-color: var(--color-white);
}

.header_controls .language_switch button {
  color: var(--color-white);
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  font-size: var(--font-size-lg);
  font-weight: 100;
  opacity: 50%;
}

.header_controls .language_switch button.active {
  opacity: 100%;
  font-weight: 900;
}

/* ========================================
   Mobile menu
   ======================================== */

.mobile_menu {
  display: none;
}

.mobile_menu.open {
  position: fixed;
  top: var(--header-height);
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  background: var(--color-white);
}

.mobile_menu a {
  color: var(--color-primary);
  text-decoration: none;
  font-size: var(--font-size-lg);
}

.mobile_menu hr {
  border: none;
  border-top: 1px solid var(--color-primary);
  width: var(--mobile-menu-separator-width);
  align-self: center;
}

.mobile_menu .language_switch {
  display: flex;
  gap: var(--mobile-menu-language-gap);
}

.mobile_menu .language_switch button {
  color: var(--color-primary);
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  font-weight: 100;
  opacity: 50%;
}

.mobile_menu .language_switch button.active {
  opacity: 100%;
  font-weight: 900;
}

/* ========================================
   Prevent page scrolling when menu is open
   ======================================== */

html:has(.mobile_menu.open) {
  overflow: hidden;
}

/* ========================================
   Desktop
   ======================================== */

@media (min-width: 768px) {

  .container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 24px;
  }

  .header {
    height: var(--header-height-desktop);
    font-size: var(--font-size-base)
  }

  .header_controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 33.333%;
    gap: 32px;
    margin-left: auto;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  .menu_btn {
    display: none;
  }

  .mobile_menu.open {
    display: none;
  }
}