<div class="preview__section">
    <div class="preview__container">
        <!-- TODO  -->
        <!-- <img class="preview__image" src=""> -->
        <div class="preview__content">
            <div class="preview__text">
                <p class="title1">{{'home.contact.title' | translate }}</p>
                <p class="body">{{'home.contact.body' | translate }}</p>
                <p class="body">{{'home.contact.availability' | translate }}</p>
            </div>
            <app-button [routerLink]="routes.contact" color="secondary">
                {{'home.contact.get-in-touch' | translate}}
            </app-button>
        </div>
    </div>
</div>